<h1>Teams</h1>

<p><%= link_to 'New Team', new_team_path %></p>

<table>
	<tr>
		<th>Team</th>
		<th>League</th>
		<th>Country</th>
		<th>Captain</th>
		<th>Wins</th>
		<th></th>
		<th></th>
	</tr>

	<% @teams.each do |t| %>
	<tr>
		<td><%= t %></td>
		<td><%= link_to t.league.name, t.league %></td>
		<td><%= t.country %></td>
		<td><%= t.captain %></td>
		<td><%= @match_count %></td>
		<td><%= link_to 'Show', t %></td>
		<td><%= link_to 'Delete', t, :method => 'delete' %></td>
	</tr>
	<% end %>
</table>