<h1>Leagues</h1>

<p><%= link_to 'New League', new_league_path %></p>

<table>
	<tr>
		<th>League</th>
		<th>Game</th>
		<th></th>
		<th></th>
	</tr>
	<% @leagues.each do |l| %>
		<tr>
			<td><%= l.name %></td>
			<td><%= l.game_name %></td>
			<td><%= link_to 'Show', l %></td>
			<td><%= link_to 'Delete', l, :method => 'delete' %></td>
		</tr>
	<% end %>
</table>